<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login and Signup</title>
  <!-- <link rel="stylesheet" href="D:/SELF/Profile/Profile/static/register.css"> -->
  <link href="{{ url_for('static', path='/register.css') }}" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="{{ url_for('static', path='js/toaster.js') }}"></script>
</head>
<body>
  <div class="container">
    <!-- Signup Form -->
    <div class="form-container">
      <h2>Signup</h2>
      <form id="signup-form">
        <div class="input-group">
          <label for="signup-firstname">Username</label>
          <input type="text" id="first_name" placeholder="Enter Username" required>
        </div>
        <div class="input-group">
          <label for="signup-mobile">Mobile No.</label>
          <input type="text" id="mobile" placeholder="Enter your mobile number" required>
        </div>
        <div class="input-group">
          <label for="signup-email">Email</label>
          <input type="email" id="email" placeholder="Enter your email" required>
        </div>

        <div class="input-group">
          <label for="signup-email">OTP</label>
          <input type="email" id="otp" placeholder="OTP" required>
        </div>

        <button type="submit" class="btn">Signup</button>
        <p>Already have an account? <a href="#">Login</a></p>

      </form>
    </div>
  </div>
 


  <script>
      document.getElementById("signup-form").addEventListener("submit", function (event) {
      event.preventDefault();
      first_name = document.getElementById("first_name").value
      last_name = document.getElementById("last_name").value
      mobile = document.getElementById("mobile").value
      email = document.getElementById("email").value
      password = document.getElementById("password").value
      cnf_password = document.getElementById("cnfpassword").value
      console.log(password,cnf_password);

      if (cnf_password === password){
        axios.post('http://127.0.0.1:8000/app1/register',{
        "first_name" : first_name,
        "last_name" : last_name,
        "email" : email,
        "mobile" : mobile,
        "password" :password
        })
        .then(response => {
        console.log(response.data);
        if (response.data.status_code==200){
            toastfunc('green', response.data.message)
            }
            else{
                toastfunc('red', response.data.message)

            }

        document.getElementById('signup-form').reset() 
        })
        .catch(error => {
          console.error('Error during POST request:', error); // Handle the error
        });

      }
      else{
        document.getElementById("mismatch").textContent  = "* password mismatch";

      }
      });




  </script>
</body>
</html>
